@keyframes slideIn {
  from {
    transform: translateX(calc(100% + 2rem));
  }
  to{
    transform: translateX(0);
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + 2rem));
  }
}

.animation[data-state="open"] {
  animation: slideIn 100ms ease-in-out;
}

.animation[data-state="closed"] {
  animation: hide 150ms ease-in-out;
}

.animation[data-swipe=move]{
  transform: translateX(var(--radix-toast-swipe-move-x));
}

.animation[data-swipe=cancel] {
  transform: translateX(0);
  transition: transform 200ms ease-in-out;
}

.animation[data-swipe=end] {
  animation: swipeOut 150ms ease-in-out;
}
